.ndp-days th, .ndp-header {
    font-weight: 700;
    text-align: center
}

div#ndp-nepali-box {
    border: 1px solid #A6C9E2;
    background-color: #FDFEFE;
    position: absolute;
    z-index: 9999;
    padding: 1px;
    margin-top: 1px
}

div#npd-table-div {
    margin: 0
}

div#npd-table-div table {
    border-spacing: 2px;
    border-collapse: separate
}

div#ndp-nepali-box td.ndp-date {
    margin: 1px;
    padding: 1px 2px;
    border: 1px solid #C5DBEC;
    background: #DFEFFC;
    color: #2E6E9E
}

div#ndp-nepali-box td.ndp-selected {
    border: 1px solid #FAD42E;
    background: #FBEC88;
    color: #363636
}

div#ndp-nepali-box td.ndp-current {
    margin: 1px;
    padding: 1px 2px;
    border: 1px solid #79B7E7;
    background: #F5F8F9
}

div#ndp-nepali-box td.ndp-current a {
    color: #E17009
}

div#ndp-nepali-box td.ndp-date a {
    display: block;
    color: #1C94C4;
    text-decoration: none;
    font-size: 12px;
    width: 20px
}

a.ndp-disabled {
    color: #ccc !important
}

div#ndp-nepali-box td.ndp-date:hover {
    border: 1px solid #FED22F;
    opacity: .8
}

div#ndp-nepali-box td.ndp-date a:hover {
    color: #1C94C4
}

div#ndp-nepali-box table, div#ndp-nepali-box td, div#ndp-nepali-box tr {
    font-size: 12px;
    height: 19px;
    line-height: 19px
}

.ndp-next, .ndp-prev {
    position: absolute;
    top: 6px;
    width: 1.3em;
    height: 1.3em
}

div#ndp-nepali-box a {
    text-decoration: none
}

.ndp-header {
    border: 1px solid #4297D7;
    background: #5C9CCC;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    margin: 2px;
}

.ndp-prev {
    left: 7px;
    color: #ffffff;
    top: 3px;
}

.ndp-next {
    right: 7px;
    color: #ffffff;
    top: 3px;
}

#currentMonth #npd-month-select, #currentMonth #npd-year-select {
    color: #000;
    font-size: 12px;
    font-weight: 400
}