{% load i18n %}
<form action="{% url 'change_calendar' %}" method="post" style="display: inline;">
    {% csrf_token %}
    <div style="display: inline;">
        <select name="calendar" onchange="javascript:form.submit()" class="btn btn-default">
            <option value="ad"{% ifequal request.session.cal 'ad' %} selected{% endifequal %}>{% trans 'AD' %}
            </option>
            <option value="bs"{% ifequal request.session.cal 'bs' %} selected{% endifequal %}>{% trans 'BS' %}
            </option>
        </select>
    </div>
</form>